*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  overflow-y: hidden;
}
.conteiner{
  width: 100vw;
  height: 100vh;
}
/* Oculta os controles quando o cursor estiver sobre o vídeo */
.logo{
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-left: 100px;
  cursor: pointer;
}
.content{
  top: 55%;
  position: absolute;
  transform: translateY(-50%);
}
.content h1{
  font-size: 64px;
  font-weight: 600;
}
.content h1 span{
  color: #5754C8;
}

.content button{
  margin-top: 30px;
  background: #fff;
  border: 2px solid #5754C8;
  outline: none;
  padding: 12px 35px;
  color: #5754C8;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, border 0.3s;
}
.content button:hover{
  color:#fff;
  border: 2px solid #fff;
  background: #5754C8;
}
.content p{
  margin-bottom: 10px;
  font-size: 20px;
}
.content{
  margin-left: 100px;
}
.launch-time{
  display: flex;
}
.launch-time div{
  margin-top: 10px;
  text-align: center;
  flex-basis: 100px;
}
.launch-time div p{
  font-size: 60px;
  margin-bottom: -5px;
}
.rocket{
  width: 350px;
  position: absolute;
  right: 2%;
  bottom: -100px;
  animation: rocket 4s linear infinite;
}
@keyframes rocket {
  0%{
    bottom: -100px;
    opacity: 0;
  }
    50% {
      bottom: 50%;
      opacity: 1;
    }
    100% {
      bottom: 105%;
      opacity: 1;
    }
  
}

/* Media query para tablets */
@media (min-width: 481px) and (max-width: 1000px) {
    * {
      margin: 0;
      padding: 0;
      font-family: 'Inter', sans-serif;
      box-sizing: border-box;
      overflow-y: hidden;
    }

    .conteiner {
      width: 100vw;
      height: 100vh;
    }

    .logo {
      width: 150px;
      height: auto;
      margin-top: 15px;
      margin-left: 50px;
      cursor: pointer;
    }

    .content {
      top: 55%;
      position: absolute;
      transform: translateY(-50%);
    }

    .content h1 {
      font-size: 32px;
      font-weight: 600;
    }
  
    .content h1 span {
      color: #5754C8;
    }
  
    .content button {
      margin-top: 30px;
      background: #fff;
      border: 2px solid #5754C8;
      outline: none;
      padding: 12px 35px;
      color: #5754C8;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s, color 0.3s, border 0.3s;
    }
  
    .content button:hover {
      color: #fff;
      border: 2px solid #fff;
      background: #5754C8;
    }
  
    .content p {
      margin-bottom: 10px;
      font-size: 14px;
    }
  
    .content {
      margin-left: 50px;
    }
  
    .launch-time {
      display: flex;
    }
  
    .launch-time div {
      margin-top: 10px;
      text-align: center;
      flex-basis: 100px;
      margin-left: -20px;
    }
  
    .launch-time div p {
      font-size: 50px;
      margin-bottom: -5px;
    }
  
    .rocket {
      width: 250px;
      position: absolute;
      right: 10%;
      bottom: -100px;
      animation: rocket 4s linear infinite;
    }
}

/* Media query para mobile */
@media (max-width: 480px) {
      * {
          margin: 0;
          padding: 0;
          font-family: 'Inter', sans-serif;
          box-sizing: border-box;
          overflow: hidden;
        }
      
        .conteiner {
          width: 100vw;
          height: 100vh;
        }

        .conteiner-logo{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 100%;
          height: 60px;
          background-color: ghostwhite;
        }

        .logo {
          left: 15%;
          width: 190px;
          height: auto;
          margin: auto;
          cursor: pointer;
        }
      
        .content {
          top: 55%;
          position: absolute;
          transform: translateY(-50%);
        }
      
        .content h1 {
          font-size: 32px;
          font-weight: 600;
        }
      
        .content h1 span {
          color: #5754C8;
        }
      
        .content button {
          margin-top: 30px;
          background: #fff;
          border: 2px solid #5754C8;
          outline: none;
          padding: 10px 25px;
          color: #5754C8;
          border-radius: 5px;
          cursor: pointer;
          transition: background 0.3s, color 0.3s, border 0.3s;
        }
      
        .content button:hover {
          color: #fff;
          border: 2px solid #fff;
          background: #5754C8;
        }
      
        .content p {
          margin-bottom: 10px;
          font-size: 14px;
        }
      
        .content {
          margin-left: 50px;
        }
      
        .launch-time {
          display: flex;
        }
      
        .launch-time div {
          margin-top: 10px;
          text-align: center;
          flex-basis: 100px;
          margin-left: -20px;
        }
      
        .launch-time div p {
          font-size: 50px;
          margin-bottom: -5px;
        }
      
        .rocket {
          width: 170px;
          position: absolute;
          z-index: -1;
          right: 0;
          bottom: -100px;
          animation: rocket 4s linear infinite;
        }
      
}